.main {
  max-width: var(--max-width);
  margin: auto;
  height: 100%;
}

.header {
  background: white;
  position: absolute;
  width: 100%;
  padding-block: var(--primary-padding);
}

.header .content {
  max-width: var(--max-width);
  margin: auto;
}

.vFlex {
  --gap: var(--primary-gap);
  --justify: center;
  --padding: var(--primary-padding);

  display: flex;
  flex-direction: column;
  justify-content: var(--justify);
  gap: var(--gap);
  padding-inline: var(--padding);
}

.hFlex {
  --gap: var(--primary-gap);
  --justify: center;
  --padding: var(--primary-padding);

  display: flex;
  flex-direction: row;
  justify-content: var(--justify);
  gap: var(--gap);
  padding-inline: var(--padding);
  flex-wrap: wrap;
}

.rollButton {
  font-size: var(--font-size-6);
  border-radius: var(--radius-3);
  padding: var(--size-4) var(--size-8);
}

@media;
