@import "open-props/style";
@import "open-props/normalize";
@import "open-props/buttons";
@import "open-props/colors-hsl";

:root {
  --die-1: white;
  --die-2: white;
  --die-3: var(--red-9);
  --die-4: var(--yellow-4);
  --die-5: var(--green-9);
  --die-6: var(--blue-9);

  --max-width: 840px;
}

#__next {
  height: 100vh;
}

button {
  padding: var(--size-2) var(--size-4);
  border-radius: var(--radius-2);
}

input {
  display: block;
}
